.App {
  display: grid;
  grid-template-areas:
    "bar title title"
    "tot tot tot"
    "tab tab tab"
    "thing thing thing"
    "thing thing thing"
    "thing thing thing";
  grid-template-rows: 1fr 1fr 1fr 0fr 20fr 10fr;
  grid-template-columns: 2fr 2fr 2fr;
  height: 100vh;
  grid-gap: 0.6em;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: darkslategrey;
}


.title-container {
  grid-area: title;
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

.budget-container,
.savings-container,
.auto-container {
  display: flex;
  flex-direction: column;

}

.transaction-container {
  grid-area: thing;

}

.budget-container,
.savings-container,
.transaction-container,
.auto-container {
  background-color: #fff;
  border: 3px solid #000;
  overflow-y: scroll;
  padding: 0.5em;
  width: 95%;
  height: 95%;
  margin: auto;
  border-radius: 5px;
  transition-duration: 1000ms;
}


.budget,
.savings {
  font-family: sans-serif;
  text-align: center;
}

.row-budget,
.row-savings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;

}

.savings-name {
  width: 100%;
}

.savings-amount {
  grid-column-start: 2;
}


.title {
  display: flex;
  margin: auto;
  width: 50%;
  justify-content: space-between;
}

.dateTitle {
  border: 3px black solid;
  border-radius: 10px;
  padding: 0.3em;
  margin: auto;
  background-color: white;
}

.date {
  border: 1px black solid;
}

.budget-titles,
.transaction-titles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  height: 1.5em;
  font-size: small;
  text-align: center;
  background-color: #ededed;
  border: 1px black dotted;
}


.budget-titles>p:first-child {
  grid-column-start: 1;
}

.budget-titles>p:nth-child(2) {
  grid-column-start: 2;
}

.budget-titles>p:nth-child(3) {
  grid-column-start: 3;
}

.budget h1 {
  border: 1px black solid;
}

.transaction-titles {
  grid-template-columns: .2fr 1fr 1fr 1fr 1fr .1fr;
}

.titlebutton {
  background-color: darkgrey;
}

.categoryamount {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
}

.categoryamount input {
  padding: auto;
  height: 100%;
}

.category {
  width: 100%;
  display: flex;
  height: 100%;
}

.categorydiv {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
}


.category-name {
  width: 100%;
}


.amount-box,
.savings-total {
  grid-column-start: 3;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.amount-children {
  margin: 0;
  height: 100%;
}





.newcat {
  grid-column-start: 1;
}

.deleteCat {
  grid-column-start: 4;
  display: flex;
  flex-direction: column;
}

.deleteCat button {
  height: 100%;
}

.total-amount {
  grid-area: tot;
}

.auto-transaction {
  display: flex;
  justify-content: center;
}

.budget-container,
.savings-container,
.auto-container {
  grid-area: thing;
  width: 60%;
}

.totals-container {
  display: flex;
  background-color: lightgrey;
  font-size: 2.6cqw;
  border: 2px black solid;
}

.transactions {
  display: flex;
  flex-direction: column-reverse;
}

.column {
  width: 100%;
}


.row-transaction {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 1fr 1fr 0.1fr;
  width: 100%;
}





.budgeted,
.actual {
  /* border: 1px black solid; */
  display: flex;
  flex-basis: fit-content;
  align-items: center;
  text-align: center;
  margin: auto;
}

.budgeted p,
.actual p {
  color: black;
  margin: 0;
}

.new-savings {
  display: flex;
  align-items: center;
  font-size: 4cqh;
}

.newTransaction-container {
  display: flex;
  border: 1px black solid;
  padding: 0.2em;
  margin: 0.2em;
  box-shadow: black 2px 2px 5px;
}

.faTitle {
  padding: 0;
  margin: auto;
}


.newbutton {
  transition-duration: 400ms;
}

.newbutton:hover {
  color: darkgrey;
}

.newbutton:active {
  color: grey;
}

.lock {
  width: 50%;
  height: 50%;
  background-color: white;
  position: absolute;
  left: 25%;
  top: 25%;
  border: black 3px solid;
  box-shadow: 5px 5px 5px black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition-duration: 200ms;
}

.lock form {
  text-align: center;
}

.pass {
  text-align: center;
}

.submitbutton {
  width: 300px;
  height: 80px;
  background: dodgerblue;
  border-radius: 6px;
  transition: all .3s cubic-bezier(0.67, 0.17, 0.40, 0.83);
  font-size: 2em;
}

.taskbar {
  grid-area: bar;
  display: flex;

}

.settings-popup {
  border: 3px black solid;
  box-shadow: 3px 3px 3px;
  position: absolute;
  left: 30%;
  top: 30%;
  background-color: white;
  width: 30%;
  height: 10%;
  text-align: center;
  padding: 2em;
  margin: auto;
}

.tab-container {
  grid-area: tab;
}

.tab-container ul,
.taskbar ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: auto;
}


.chart-container{
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #000;
  padding: 5em;
  box-shadow: 5px 5px 5px;
  border-radius: 5%;
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content;
  margin: auto;
  top: 0;
  bottom: 0;
  height: fit-content;
  text-align: center;
}


.tooltip {
  position: absolute;
  text-align: center;
  width: 200px;
  padding: 1em;
  background: white;
  pointer-events: none;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 1px 5px 10px black;
}


@media only screen and (max-width: 600px) {
  .App {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .row-transaction {
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
  }

  .title-container {
    margin: 0;
    font-size: small;
    width: 100%;
  }

  .budget-container {
    height: 30%
  }

  .savings-container {
    height: 20%;
  }

  .transaction-container {
    height: 50%
  }

  .transaction-titles {
    display: none;
  }


  .submitbutton {
    width: 4em;
  }

  .date {
    width: 2em;
  }

}